@import 'tailwindcss';

@plugin 'tailwindcss-animate';

/* Unify dark mode for website (.dark) and Payload Admin ([data-theme=dark]) */
@custom-variant dark (&:is(.dark *));

/* Import shared theme tokens */
@import './theme.css';

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@layer utilities {
  .payload-richtext {
    h1 {
      @apply text-primary mt-20 text-4xl font-extrabold tracking-tight text-balance;
    }

    h2 {
      @apply text-primary text-3xl font-semibold tracking-tight;
    }

    h3 {
      @apply text-primary text-2xl font-semibold tracking-tight;
    }

    h4 {
      @apply text-primary text-xl font-semibold tracking-tight;
    }

    h5 {
      @apply text-primary text-lg font-semibold tracking-tight;
    }

    h6 {
      @apply text-primary text-base font-semibold tracking-tight;
    }

    a {
      @apply text-warning underline;
    }

    ul {
      @apply list-disc pl-4;
    }

    ol {
      @apply list-decimal;
    }

    li {
      @apply text-base;
    }

    blockquote {
      @apply border-secondary bg-primary my-4 border-s-8 p-4 text-white;
    }

    pre {
      @apply rounded bg-gray-800 p-4 text-white;
    }

    code {
      @apply rounded bg-gray-200 p-1 font-mono;
    }

    hr {
      @apply border-primary my-2 h-px border-2;
    }

    p {
      @apply pb-2 last:p-0;
    }
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
