/* src/styles/payloadStyles.css */

/* Import shared theme tokens (no plugins/variants/preflight) */
@import './theme.css';

/* Define the Tailwind layers in the correct order */
@layer theme, base, components, utilities;

/* Import the Tailwind theme styles */
@import 'tailwindcss/theme.css' layer(theme);

/* Skip the preflight reset to avoid conflicts with Payload's admin styles */
/* @import 'tailwindcss/preflight.css' layer(base); */

/* Import Tailwind utilities */
@import 'tailwindcss/utilities.css' layer(utilities);

/* Support Payload’s dark mode toggle by adding a custom variant */
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@layer base {
  :root {
    --style-radius-s: calc(var(--radius) - 4px);
    --style-radius-m: calc(var(--radius) - 2px);
    --style-radius-l: var(--radius);
  }

  [data-theme='dark'] {
    --background: 0, 0%, 4%;

    --foreground: 0, 0%, 98%;

    --card: 0, 0%, 9%;

    --card-foreground: 0, 0%, 98%;

    --popover: 0, 0%, 15%;

    --popover-foreground: 0, 0%, 98%;

    --primary: 190 100% 25.9%;

    --primary-foreground: 0, 0%, 98%;

    --secondary: 183 100% 37%;

    --secondary-foreground: 0, 0%, 98%;

    --muted: 240 3.7% 15.9%;

    --muted-foreground: 240 5% 64.9%;

    --accent: 240 3.7% 15.9%;

    --accent-foreground: 0, 0%, 98%;

    --destructive: 0 62.8% 30.6%;

    --destructive-foreground: 0, 0%, 98%;

    --warning: 39 100% 50%;

    --warning-foreground: 240 5% 98%;

    --border: 0, 0%, 90%;

    --input: 0, 0%, 100%, 0.15;

    --ring: 0, 0%, 45%;

    --chart-1: 225, 84%, 49%;

    --chart-2: 160, 100%, 37%;

    --chart-3: 36, 100%, 50%;

    --chart-4: 273, 100%, 64%;

    --chart-5: 345, 100%, 56%;

    --sidebar-foreground: 0, 0%, 98%;

    --sidebar-primary: 225, 84%, 49%;

    --sidebar-primary-foreground: 0, 0%, 98%;

    --sidebar-accent: 0, 0%, 15%;

    --sidebar-accent-foreground: 0, 0%, 98%;

    --sidebar-border: 0, 0%, 100%, 0.1;

    --sidebar-ring: 0, 0%, 45%;
  }
}
