/* Shared Tailwind theme tokens */

@theme {
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-bordeaux: var(--bordeaux);
  --color-bordeaux-foreground: var(--bordeaux-foreground);

  --color-neutral-50: #ececee;
  --color-neutral-100: #d8dadc;
  --color-neutral-200: #b1b4b9;
  --color-neutral-300: #8b8f97;
  --color-neutral-400: #646974;
  --color-neutral-500: #3d4451;
  --color-neutral-600: #313641;
  --color-neutral-700: #252931;
  --color-neutral-800: #181b20;
  --color-neutral-900: #0c0e10;

  --color-info-50: #e6f1f1;
  --color-info-100: #cce3e4;
  --color-info-200: #99c8c8;
  --color-info-300: #66acad;
  --color-info-400: #339191;
  --color-info-500: #007576;
  --color-info-600: #005e5e;
  --color-info-700: #004647;
  --color-info-800: #002f2f;
  --color-info-900: #001718;

  --color-success-50: #f6faeb;
  --color-success-100: #edf5d7;
  --color-success-200: #dbebb0;
  --color-success-300: #cae288;
  --color-success-400: #b8d861;
  --color-success-500: #a6ce39;
  --color-success-600: #85a52e;
  --color-success-700: #647c22;
  --color-success-800: #425217;
  --color-success-900: #21290b;

  --color-warning: var(--warning);
  --color-warning-foreground: var(--warning-foreground);

  /* BDKJ Colors */
  --color-bdkj-green: var(--bdkj-green);
  --color-bdkj-yellow: var(--bdkj-yellow);

  --color-error-50: #f4eaed;
  --color-error-100: #ead5dc;
  --color-error-200: #d5abb9;
  --color-error-300: #bf8195;
  --color-error-400: #aa5772;
  --color-error-500: #952d4f;
  --color-error-600: #77243f;
  --color-error-700: #591b2f;
  --color-error-800: #3c1220;
  --color-error-900: #1e0910;

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);

  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);

  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);

  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }

  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
}

@theme inline {
  /* Additional theme variables */
  --font-handwriting: var(--font-caveat);

  /* Colors */
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
  :root {
    --radius: 0.625rem;
    --background: oklch(1 0 0);
    --foreground: oklch(0.145 0 0);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.145 0 0);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.145 0 0);
    --primary: oklch(49.684% 0.08932 218.063);
    --primary-foreground: oklch(100% 0.00011 271.152);
    --secondary: oklch(69.792% 0.11876 201.925);
    --secondary-foreground: oklch(0.205 0 0);
    --muted: oklch(0.97 0 0);
    --muted-foreground: oklch(0.556 0 0);
    --accent: oklch(0.97 0 0);
    --accent-foreground: oklch(0.205 0 0);
    --destructive: oklch(0.577 0.245 27.325);
    --border: oklch(0.922 0 0);
    --input: oklch(0.922 0 0);
    --ring: oklch(0.708 0 0);
    --chart-1: oklch(0.646 0.222 41.116);
    --chart-2: oklch(0.6 0.118 184.704);
    --chart-3: oklch(0.398 0.07 227.392);
    --chart-4: oklch(0.828 0.189 84.429);
    --chart-5: oklch(0.769 0.188 70.08);
    --sidebar: oklch(0.985 0 0);
    --sidebar-foreground: oklch(0.145 0 0);
    --sidebar-primary: oklch(0.205 0 0);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.97 0 0);
    --sidebar-accent-foreground: oklch(0.205 0 0);
    --sidebar-border: oklch(0.922 0 0);
    --sidebar-ring: oklch(0.708 0 0);
    --bordeaux: oklch(46.358% 0.14094 4.544);
    --bordeaux-foreground: oklch(100% 0 0);
    /* BDKJ Colors */
    --bdkj-green: oklch(71.108% 0.19258 130.442);
    --bdkj-foreground: oklch(100% 0.00011 271.152);
    --bdkj-yellow: oklch(75.536% 0.17765 59.677);
    --bdkj-yellow-foreground: oklch(14.077% 0.0044 285.776);
  }

  .dark {
    --background: oklch(0.145 0 0);
    --foreground: oklch(0.985 0 0);
    --card: oklch(0.205 0 0);
    --card-foreground: oklch(0.985 0 0);
    --popover: oklch(0.269 0 0);
    --popover-foreground: oklch(0.985 0 0);
    --primary: hsl(190 100% 25.9%);
    --secondary-foreground: oklch(0.985 0 0);
    --secondary: hsl(183 100% 37%);
    --secondary-foreground: oklch(0.985 0 0);
    --muted: oklch(0.269 0 0);
    --muted-foreground: oklch(0.708 0 0);
    --accent: oklch(0.371 0 0);
    --accent-foreground: oklch(0.985 0 0);
    --destructive: oklch(0.704 0.191 22.216);
    --border: oklch(1 0 0 / 10%);
    --input: oklch(1 0 0 / 15%);
    --ring: oklch(0.556 0 0);
    --chart-1: oklch(0.488 0.243 264.376);
    --chart-2: oklch(0.696 0.17 162.48);
    --chart-3: oklch(0.769 0.188 70.08);
    --chart-4: oklch(0.627 0.265 303.9);
    --chart-5: oklch(0.645 0.246 16.439);
    --sidebar: oklch(0.205 0 0);
    --sidebar-foreground: oklch(0.985 0 0);
    --sidebar-primary: oklch(0.488 0.243 264.376);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.269 0 0);
    --sidebar-accent-foreground: oklch(0.985 0 0);
    --sidebar-border: oklch(1 0 0 / 10%);
    --sidebar-ring: oklch(0.439 0 0);
  }
}
